@import "global.css";
/* /////////////////////////////////////////////////////////////////////
//  - Contact
/////////////////////////////////////////////////////////////////////*/

.contact_container {
  margin: 8% 13%;
}

.contact_title {
  margin-bottom: 4%;
}
.contact_title h1{
  font-size: 35px;
}

.contact_thema {
  margin-bottom: 4%;
}
.contact_thema p {
  font-weight: bold;
  padding-bottom: 0.2%;
}

.contact_record {
  margin-bottom: 2%;
}

.contact_toc {
  font-weight: bold;
}

.contact_record input{
  width: 100%;
  padding: 10px 0;
  border: solid 1.5px silver;

}
.contact_record_button{
  margin-top: 2%;
  text-align: center;
}

.contact_button {
  margin-top: 2%;
  text-align: center;
  width: 60%;
  border: none;
  color: inherit;
  background-color: #fffacd	;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
