#message{
    padding-top:90px;
}
#message .container{
    width:800px;
    margin:0 auto;
    
}
.message-inner{
    display:flex;
    justify-content: space-between;
}
.message-left{
    width:66%;
}
.message-heading{
    font-size: 30px;
    font-family:  'Sawarabi Mincho';
    padding:15px 0 20px;
}
.message-txt{
    font-size: 12px;
}
.message-auther{
    text-align: right;
    font-size: 14px;
    padding-top:5px;
    font-style: italic;
}
.message-right{
    width:30%;
}
.message-right img{
    width:100%;
    height:150px;
}
.message-repute{
    padding-top:40px;
    text-align: center;
}
.message-top{
    border:2px solid #000000;
    padding:8px;
}
.message-url{
    background:#000000;
    color:#ffff;
    width:100%;
    display: inline-block;
    padding:8px;
}